@inject IConfiguration Configuration


<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <img src="~/images/@Configuration.GetSection("GlobalSettings")["LogoSm"]" alt="Logo" class="brand-image img-circle elevation-1" style="height:100px" /><br />
            <a href="~/">@Configuration.GetSection("GlobalSettings")["AppName-Short"]</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <div class="card-header">
                    <div class="card-title">Reset Password Confirmation</div>
                </div>
                <p class="login-box-msg">                
                    Your password has been reset. Please <a asp-action="Login">click here to log in</a>.                
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>

    </div>
    <!-- /.login-box -->
</div>